---
import Layout from "../layouts/Layout.astro";

/** types */
import type { BlogsDetail } from "../types/microcmsTypes";

/** api */
import {
  getAllBlogs,
  getBlogsDetail,
} from "../repositories/microcmsRepository";

/** utils */
import { formatDate } from "../utils/formatDate";

export async function getStaticPaths() {
  const res = await getAllBlogs({ fields: ["id"] });
  return res.contents.map((content) => {
    return {
      params: {
        blogId: content.id,
      },
    };
  });
}

const { blogId } = Astro.params;
let blogData: BlogsDetail | null = null;

if (blogId) {
  blogData = await getBlogsDetail(blogId);
}
---

<Layout title="blog">
  <main>
    <h1>{blogData ? blogData.title : ""}</h1>
    <p>
      投稿日：{
        blogData ? new formatDate(blogData.revisedAt).toJpDateWithWeek() : ""
      }
    </p>
    <div set:html={blogData ? blogData.content : ""} />
  </main>
</Layout>