---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

/** utils */
import { formatDate } from "../utils/formatDate";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts
    .filter((post) => !post.data.draft)
    .map((post) => {
    return {
      params: {
        blogId: post.slug,
      },
      props: { post },
    };
    });
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title="blog">
  <main>
    <h1>{post.data.title}</h1>
    <p>投稿日：{new formatDate(post.data.pubDate).toJpDateWithWeek()}</p>
    <Content />
  </main>
</Layout>
