---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';



import { getAllBlogs } from "../repositories/microcmsRepository";

const res = await getAllBlogs({ fields: ["id", "title", "createdAt", "url"] });

---
<Layout title="Yuuのブログ">
  <header class="w-full bg-gray-800">
    <div class="flex justify-between">
      <div class="px-10">
        <h1 class="text-white text-3xl">Yuuのブログ</h1>
      </div>
      <div class="flex items-center justify-center">
        <nav>
          <ul class="flex">
            <li class="text-white px-4 py-3">
              <a href="#" class="hover:text-gray-300">Home</a>
            </li>
            <li class="text-white px-4 py-3">
              <a href="#" class="hover:text-gray-300">Profile</a>
            </li>
            <li class="text-white px-4 py-3">
              <a href="#" class="hover:text-gray-300">About me</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main class="mt-32 mx-auto p-6 max-w-6xl">
    <div class="flex flex-wrap -m-4">
      {
        res.contents.map((content: any) => (
          <Card
            href={content.id}
            title={content.title}
            url={content.url}
            createdAt={content.createdAt}
          />
        ))
      }
    </div>
  </main>
</Layout>
