---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getAllBlogs } from "../repositories/microcmsRepository";

const res = await getAllBlogs({
  fields: [
    "id",
    "title",
    "createdAt",
    "updatedAt",
    "publishedAt",
    "revisedAt",
    "content",
    "eyecatch.url",
    "eyecatch.height",
    "eyecatch.width",
    "category.id",
    "category.createdAt",
    "category.updatedAt",
    "category.publishedAt",
    "category.revisedAt",
    "category.name"
  ]
});
console.log(res, "<<< response all data");
---

<Layout title="Remedia Blog">
  <header class="w-full bg-gray-900 px-8 pt-6">
    <div class="flex justify-between items-center">
      <h1 class="text-white text-xl font-bold flex items-center">
        <span class="text-sm ml-2 text-gray-400">personal blog</span>
      </h1>
      <nav>
        <ul class="flex space-x-6 text-white">
          <li><a href="#" class="hover:text-gray-300">About Me</a></li>
          <li><a href="#" class="hover:text-gray-300">Interests</a></li>
          <li><a href="#" class="hover:text-gray-300">Reflections</a></li>
          <li><a href="#" class="hover:text-gray-300">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="mt-8 text-center">
      <h1 class="text-blue-500 text-5xl font-bold">Yupyong Kim</h1>
      <p class="text-gray-400 mt-4">Thoughts, Interests, and Daily Reflections</p>
    </div>
  </header>
  <main class="mt-12 px-8">
    <div class="container mx-auto px-4 lg:px-28 xl:px-28">
      <h2 class="text-white text-3xl font-semibold mb-8 text-left">Latest Articles</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {res.contents.map((content: any) => (
          <Card
            href={content.id}
            title={content.title}
            url={content.eyecatch?.url}
            createdAt={content.createdAt}
          />
        ))}
      </div>
    </div>
  </main>
</Layout>