---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';



import { getAllBlogs } from "../repositories/microcmsRepository";

const res = await getAllBlogs({ fields: ["id", "title", "createdAt", "url"] });

---
<Layout title="Yuu's vlog">
  <header class="w-full bg-app-primary-800 px-48 pt-12">
    <div class="flex justify-between">
      <div class="px-10">
        <h1 class="text-app-white text-4xl">My Name is Yuu</h1>
      </div>
      <nav>
        <ul class="w-full flex justify-between">
          <li class="text-app-white pr-4">
            <a href="#" class="hover:text-gray-300">Home</a>
          </li>
          <li class="text-app-white pr-4">
            <a href="#" class="hover:text-gray-300">Profile</a>
          </li>
          <li class="text-app-white">
            <a href="#" class="hover:text-gray-300">About me</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="mt-32 justify-center p-6 px-48 ">
    <div class="flex flex-wrap -m-4">
      {
        res.contents.map((content: any) => (
          <Card
            href={content.id}
            title={content.title}
            url={content.url}
            createdAt={content.createdAt}
          />
        ))
      }
    </div>
  </main>
</Layout>
