---
/** types */
import type { BlogUrl } from "../types/microcmsTypes";

/** utils */
import { formatDate } from "../utils/formatDate";

export interface cardProps {
  title: string;
  href: string;
  url: BlogUrl;
  createdAt: string;
}

const { href, title, url, createdAt } = Astro.props;
---

<article class="bg-white rounded-lg shadow-md transition-transform transform hover:scale-105"> <!-- カードのスタイルをTailwind CSSで設定 -->
  <a class="block w-full h-full flex flex-col justify-between p-4" href={href}> <!-- カード内部のレイアウトを調整 -->
    <img class="w-full h-48 object-cover rounded-t-lg" src={url} /> <!-- 画像の高さを設定し、角を丸くする -->
    <h2 class="mt-4 text-lg font-medium">{title}</h2>
    <span class="mt-2 text-gray-500">{new formatDate(createdAt).toJpDateWithWeek()}</span>
  </a>
</article>