---
/** types */
import type { BlogUrl } from "../types/microcmsTypes";

/** utils */
import { formatDate } from "../utils/formatDate";

export interface cardProps {
  title: string;
  href: string;
  url: BlogUrl;
  createdAt: string;
}

const { href, title, url, createdAt } = Astro.props;
---

<article class="bg-white rounded-lg shadow-md transition-transform transform hover:scale-105"> <!-- カードのスタイルをTailwind CSSで設定 -->
  <a class="block w-full h-full" href={href}> <!-- カード内部のレイアウトを調整 -->
    <img class="w-full h-48 object-cover rounded-t-lg" src={url} /> <!-- 画像の高さを設定し、角を丸くする -->
    <div class="p-4 flex flex-col justify-between h-48"> <!-- コンテンツ部分のスタイルを設定 -->
      <div>
        <h2 class="text-lg font-medium">{title}</h2>
        <div class="mt-2">
          <!-- ここでタグを表示 -->
          <span class="text-blue-500 mr-2">#タグ1</span>
          <span class="text-blue-500 mr-2">#タグ2</span>
          <span class="text-blue-500">#タグ3</span>
        </div>
      </div>
      <span class="text-gray-500 mt-4 self-end">{new formatDate(createdAt).toJpDateWithWeek()}</span>
    </div>
  </a>
</article>